<nav class="navbar">
  <%= link_to 'TOP', tracker_path, class: "btn" %>
  <%= link_to 'USAGE', usage_path, class: "btn" %>
  <%= link_to 'LEGAL', legal_path, class: "btn" %>
  <%= link_to 'LOGIN', login_path, class: "btn" %>
  <%= link_to 'SIGN UP', signup_path, class: "btn" %>
  <%= link_to 'DASHBOARD', dashboard_path, class: "btn" %>
  <%= link_to 'LOST PASSWORD', lost_password_path, class: "btn" %>
  <%= link_to 'RESET PASSWORD', reset_password_path, class: "btn" %>
  <%= link_to 'LOGOUT', logout_path, class: "btn" %>
</nav>