<nav class="navbar">
  <%= link_to 'TOP', tracker_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to '利用方法', usage_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to '法的責任情報', legal_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to 'ログイン', login_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to 'アカウント作成', signup_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to 'ダッシュボード', dashboard_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to 'パスワードを無くした方', lost_password_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to 'パスワードリセット', reset_password_path, class: "btn btn-custom-outline me-2" %>
  <%= link_to 'ログアウト', logout_path, class: "btn btn-custom-outline me-2" %>
</nav>
