<%# app/views/index/lost_password.html.erb %>

<h1>Tracker for creator|Lost Password</h1>
<%= render "header" %>
<p>登録したメールアドレスを入力してください。ワンタイムパスワードを送信します。</p>

<% if flash[:alert] %>
  <div style="color: red;"><%= flash[:alert] %></div>
<% end %>

<%= form_with url: lost_password_path, method: :post, local: true, data: { turbo: false } do %>
  <%= label_tag :email, "メールアドレス" %><br>
  <%= text_field_tag :email, nil, required: true %><br>
  <%= submit_tag "送信" %>
<% end %>





