<h1>Tracker for creator|lost_password</h1>
<%= render "header" %>
<h2>パスワードを忘れた方</h2>
<p>登録したメールアドレスを入力してください。ワンタイムパスワードを送信します。</p>

<%= form_with url: lost_password_path, method: :post, local: true do %>
  <%= label_tag :email, "メールアドレス" %>
  <%= text_field_tag :email, nil, required: true %>
  <%= submit_tag "送信" %>
<% end %>

