<h1>Tracker for creator|Reset Password</h1>
<%= render "header" %>
<h2>パスワード再発行</h2>

<%= form_with url: reset_password_path, method: :post, local: true do %>
  <div style="width: 200px">  <%= label_tag :email, "メールアドレス" %> </div>
  <div style="width: 200px"> <%= text_field_tag :email %> </div><br>

  <div style="width: 200px"> <%= label_tag :token, "ワンタイムパスワード" %> </div>
  <div style="width: 200px"> <%= text_field_tag :token %> </div><br>

  <div style="width: 200px"> <%= label_tag :password, "新しいパスワード" %>
  <div style="width: 200px"> <%= password_field_tag :password %> </div><br>

  <div style="width: 200px"> <%= label_tag :password_confirmation, "パスワード確認" %> </div>
  <div style="width: 200px"> <%= password_field_tag :password_confirmation %> </div><br>

  <%= submit_tag "パスワード更新" %>
<% end %>

