<h1>Tracker for creator|Reset Password</h1>
<%= render "header" %>
<h2>パスワード再発行</h2>

<%= form_with url: reset_password_path, method: :post, local: true do %>
  <%= label_tag :email, "メールアドレス" %>
  <%= text_field_tag :email %><br>

  <%= label_tag :token, "ワンタイムパスワード" %>
  <%= text_field_tag :token %><br>

  <%= label_tag :password, "新しいパスワード" %>
  <%= password_field_tag :password %><br>

  <%= label_tag :password_confirmation, "パスワード確認" %>
  <%= password_field_tag :password_confirmation %><br>

  <%= submit_tag "パスワード更新" %>
<% end %>

